Samples/blog/silverlightweblog-41708/Silverlight.Weblog/Silverlight.Weblog.Client.Default.Widgets/SampleData/BlogPostViewModelSampleData/BlogPostViewModelSampleData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.BlogPostViewModelSampleData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.BlogPostViewModelSampleData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BlogPostViewModelSampleData" type="tns:BlogPostViewModelSampleData" />
  <xs:complexType name="BlogPostViewModelSampleData">
    <xs:sequence>
      <xs:element name="Model" type="tns:Model" />
    </xs:sequence>
    <xs:attribute blend:Format="Date" name="FormattedBlogPostCreatedDate" type="xs:string" />
    <xs:attribute blend:FormatParameters="100,12" name="Html" type="xs:string" />
    <xs:attribute blend:Format="Name" name="AuthorName" type="xs:string" />
    <xs:attribute blend:FormatParameters="4,9" name="FiledUnder" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Model">
    <xs:attribute blend:FormatParameters="100,12" name="HTML" type="xs:string" />
  </xs:complexType>
</xs:schema>