Silverlight3/SampleSource/Web/blog/silverblog-37993/SilverBlog/SLFrontend/Service References/BlogService/BlogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1472/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" />
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" minOccurs="0" name="TestServiceResult" nillable="true" type="q1:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" minOccurs="0" name="entry" nillable="true" type="q2:Entry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEntryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast10Entries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLast10EntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" minOccurs="0" name="GetLast10EntriesResult" nillable="true" type="q3:ArrayOfEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>