Samples/Web/blog/silverblog-37993/SilverBlog/SLFrontend/Service References/BlogService/BlogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entry">
    <xs:sequence>
      <xs:element minOccurs="0" name="CommentsEnabled" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntryId" type="xs:int" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Published" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rating" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Entry" nillable="true" type="tns:Entry" />
  <xs:complexType name="ArrayOfEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="tns:Entry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntry" nillable="true" type="tns:ArrayOfEntry" />
</xs:schema>