Samples/blog/silverblog-37993/SilverBlog/SLFrontend/Service References/BlogService/BlogService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="/Imports">
      <xsd:import schemaLocation="http://localhost:1472/BlogService.svc?xsd=xsd0" />
      <xsd:import schemaLocation="http://localhost:1472/BlogService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1472/BlogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SilverBlog.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BlogService_TestService_InputMessage">
    <wsdl:part name="parameters" element="TestService" />
  </wsdl:message>
  <wsdl:message name="BlogService_TestService_OutputMessage">
    <wsdl:part name="parameters" element="TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="BlogService_CreateEntry_InputMessage">
    <wsdl:part name="parameters" element="CreateEntry" />
  </wsdl:message>
  <wsdl:message name="BlogService_CreateEntry_OutputMessage">
    <wsdl:part name="parameters" element="CreateEntryResponse" />
  </wsdl:message>
  <wsdl:message name="BlogService_GetLast10Entries_InputMessage">
    <wsdl:part name="parameters" element="GetLast10Entries" />
  </wsdl:message>
  <wsdl:message name="BlogService_GetLast10Entries_OutputMessage">
    <wsdl:part name="parameters" element="GetLast10EntriesResponse" />
  </wsdl:message>
  <wsdl:portType name="BlogService">
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="urn:BlogService/TestService" message="BlogService_TestService_InputMessage" />
      <wsdl:output wsaw:Action="urn:BlogService/TestServiceResponse" message="BlogService_TestService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateEntry">
      <wsdl:input wsaw:Action="urn:BlogService/CreateEntry" message="BlogService_CreateEntry_InputMessage" />
      <wsdl:output wsaw:Action="urn:BlogService/CreateEntryResponse" message="BlogService_CreateEntry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLast10Entries">
      <wsdl:input wsaw:Action="urn:BlogService/GetLast10Entries" message="BlogService_GetLast10Entries_InputMessage" />
      <wsdl:output wsaw:Action="urn:BlogService/GetLast10EntriesResponse" message="BlogService_GetLast10Entries_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>