Samples/blog/silverlightweblog-41708/Silverlight.Weblog/Silverlight.Weblog.Client.Default.Widgets/SampleData/CommentWidgetViewModel2/CommentWidgetViewModel2.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.CommentWidgetViewModel2" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.CommentWidgetViewModel2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CommentWidgetViewModel2" type="tns:CommentWidgetViewModel2" />
  <xs:complexType name="CommentWidgetViewModel2">
    <xs:sequence>
      <xs:element name="Model" type="tns:Model" />
      <xs:element name="ChildViewModelComments" type="tns:ChildViewModelComments1" />
    </xs:sequence>
    <xs:attribute blend:Format="Website URL" name="LinkUri" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Model">
    <xs:attribute blend:Format="Website URL" name="HTML" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="Url" type="xs:string" />
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ChildViewModelComments1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChildViewModelCommentsItem1" type="tns:ChildViewModelCommentsItem1" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChildViewModelCommentsItem1">
    <xs:sequence>
      <xs:element name="ChildViewModelComments" type="tns:ChildViewModelComments1" />
      <xs:element name="Model" type="tns:Model1" />
    </xs:sequence>
    <xs:attribute blend:Format="Website URL" name="LinkUri" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Model1">
    <xs:attribute blend:Format="Email Address" name="Email" type="xs:string" />
    <xs:attribute blend:Format="Website URL" name="Url" type="xs:string" />
    <xs:attribute name="HTML" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ChildViewModelCommentsItem">
    <xs:sequence>
      <xs:element name="ChildViewModelComments" type="tns:ChildViewModelComments" />
    </xs:sequence>
    <xs:attribute blend:Format="Website URL" name="LinkUri" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ChildViewModelComments">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ChildViewModelCommentsItem" type="tns:ChildViewModelCommentsItem" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>