Samples/SilverlightLogin/LoginSilverlight/LoginSilverlight/Service References/LoginService/Login1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3604/Login.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoginSilverlightWeb" />
  <xs:element name="DoLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LoginSilverlightWeb" minOccurs="0" name="DoLoginResult" nillable="true" type="q1:LoginInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>